.row {
  margin: 75px 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:last-child {
  margin: 0px;
}

.row:last-child p {
  margin: 10px;
}

.icon {
  width: 90px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022b3a;
  color: #fff;
  text-align: center;
  height: 12%;
}

header h1 {
  margin: 0;
}

header button {
  margin: 0px;
}

.container {
  max-width: 1150px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #022b3a;
  background-color: #bfdbf7;
}

h3 {
  font-size: 2.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 50%;
  padding: 0;
}

li {
  font-size: 1.3rem;
}

#sign-img {
  width: 80%;
  height: 50%;
}

.info-section {
  background-color: #bfdbf7;
  border: 1px solid #022b3a;
}

#instruction-section {
  height: 480px;
}

#sign-section {
  height: 480px;
}

#sign-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100%;
}

#sign-inner-container button {
  margin-top: 22px;
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.deleted {
  display: none;
}

canvas {
  border: 1px solid #022b3a;
}

#stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#stat-container p {
  margin: 5px;
}

.stat {
  text-align: center;
  font-size: 2rem;
}

#results {
  text-align: center;
  margin: 0;
  padding: 10px;
}

/* Adjusting Skeleton CSS buttons to my own styles */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #022b3a;
  border-color: #022b3a;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1f7a8c;
  border-color: #1f7a8c;
}
